variables:
 artifactName: 'artifactNameVersion'
 temp: 'abc'

trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'

steps:  
- task: Maven@3
  name: Build
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'    
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: '-Dmaven.test.skip package'
    

- task: PowerShell@2
  name: setVariable
  inputs:
    targetType: 'inline'
    script: |  
      [xml]$pomXml = Get-Content $(Build.SourcesDirectory)\pom.xml   
      $version=$pomXml.project.artifactId+'-'+$pomXml.project.version
      Write-Host $version  
      Write-Host "##vso[task.setvariable variable=artifactName]$version"

- task: Bash@3
  name: PrintData 
  inputs:
    targetType: 'inline'
    script: |
     temp= mvn -Dexec.executable='echo' -Dexec.args='${project.artifactId}' --non-recursive exec:exec -q
     temp = mvn -Dexec.executable='echo' -Dexec.args='${project.version}' --non-recursive exec:exec -q

- task: Bash@3
  name: RenameFile 
  inputs:
    targetType: 'inline'
    script: |     
      echo  'value $(temp)'
      echo '$(artifactName)'
      cd  '$(Build.SourcesDirectory)/target'
      ls  '$(Build.SourcesDirectory)/target'
      mv '$(artifactName).jar' '$(artifactName).zip'
      ls  '$(Build.SourcesDirectory)/target'

- task: AmazonWebServices.aws-vsts-tools.S3Upload.S3Upload@1 
  displayName: AmazonWebServices.aws-vsts-tools.S3Upload.S3Upload
  name: 'uploads3'
  inputs:   
    regionName: 'us-east-1'
    bucketName: 'azureb1'
    awsCredentials: 'azure_user_aws'
    sourceFolder: '$(Build.SourcesDirectory)/target'
    globExpressions: '$(artifactName).zip'
    filesAcl: 'public-read-write'


- task: Bash@3
  name: CreateDownloadDirectory 
  inputs:
    targetType: 'inline'
    script: |
      ls  '$(Build.SourcesDirectory)'
      mkdir  '$(Build.SourcesDirectory)/downloads3'

- task: S3Download@1
  inputs:  
    regionName: 'us-east-1'
    awsCredentials: 'azure_user_aws'
    bucketName: 'azureb1'
    globExpressions: '$(artifactName).zip'
    targetFolder: '$(Build.SourcesDirectory)/downloads3'
  
- task: Bash@3
  name: ListFile 
  inputs:
    targetType: 'inline'
    script: |
      ls  '$(Build.SourcesDirectory)/downloads3'
 