variables:
 artifactName: 'artifactNameVersion'

trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'


steps:   
- task: PowerShell@2
  name: setVariable
  inputs:
    targetType: 'inline'
    script: |
      Write-Host '$(artifactName)'  
      Write-Host "##vso[task.setvariable variable=artifactName]crushed tomatoes"
      Write-Host '$(artifactName)' 
   
