variables:
 artifactName: 'artifactNameVersion'

trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'

steps:  
- task: Bash@3
  name: RenameFile 
  inputs:
    targetType: 'inline'
    script: |
      ls  '$(Build.SourcesDirectory)'

- task: AmazonWebServices.aws-vsts-tools.S3Upload.S3Upload@1 
  displayName: AmazonWebServices.aws-vsts-tools.S3Upload.S3Upload
  name: 'uploads3'
  inputs:
    awsCredentials: 'azure_user_aws'
    regionName: 'us-east-1'
    bucketName: 'azureb1'
    sourceFolder: '$(Build.SourcesDirectory)'
    globExpressions: '**.zip'
    createBucket: true
  
  
