variables:
 artifactName: 'artifactNameVersion'
 packageType: 'war'

trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'

  resources:
  repositories:
  - repository: tools
    type: github
    endpoint: jotiramsc


steps:
- checkout: tools 
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      git clone -c http.extraheader="AUTHORIZATION: bearer 93a0ebc8c7a5feafc1e3161e039e6f74cf0fab03" 'ssh://github.com/jotiramsc/BulkSmsApp'    
 
