variables:
 artifactName: 'artifactNameVersion'
 packageType: 'war'

trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'


steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      git remote add origin https://github.com/jotiramsc/BulkSmsApp
      git config gc.auto 0
      git config --get-all http.https://github.com/jotiramsc/BulkSmsApp.extraheader
      git config --get-all http.proxy
      git config http.version HTTP/1.1
      git -c http.extraheader="AUTHORIZATION: basic ***" fetch --force --tags --prune --progress --no-recurse-submodules origin


