variables:
 artifactName: 'artifactNameVersion'
 packageType: 'war'

trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'

steps:  
- task: PythonScript@0
  name: getArtifactName
  displayName: "get Artifact Name"
  inputs:
    scriptSource: 'inline'
    script: |
      import xml.etree.ElementTree as ET
      tree = ET.parse('$(Build.SourcesDirectory)/pom.xml')
      root = tree.getroot()
      
      namesp = root.tag.replace("project","")  # get the namesapce from the root key
      
      version = root.find(namesp+"version")
      artifactId = root.find(namesp+"artifactId")
      packaging = root.find(namesp+"packaging")
      name = artifactId.text+'-'+version.text     
      print(name)
      print '##vso[task.setvariable variable=artifactName]' + name
      print '##vso[task.setvariable variable=packageType]' + packaging.text 
      

- task: Maven@3
  displayName: "Maven Build"
  name: Build
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'    
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: '-Dmaven.test.skip package'    

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/target'
    Contents: '$(artifactName).$(packageType)'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    OverWrite: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: '$(artifactName)'
    publishLocation: 'Container'

- task: Bash@3
  name: ListFile1 
  displayName: "List Data1"
  inputs:
    targetType: 'inline'
    script: |
      ls $(Build.ArtifactStagingDirectory)

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/$(artifactName).$(packageType)'    
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/target/$(artifactName).zip'
    replaceExistingArchive: true

- task: AmazonWebServices.aws-vsts-tools.S3Upload.S3Upload@1 
  displayName: "Upload To S3"
  name: 'UploadToS3'
  inputs:   
    regionName: 'us-east-1'
    bucketName: 'azureb1'
    awsCredentials: 'azure_user_aws'
    sourceFolder: '$(Build.ArtifactStagingDirectory)'
    globExpressions: '$(Build.ArtifactStagingDirectory)'
    filesAcl: 'public-read-write'


- task: Bash@3
  name: CreateDownloadDirectory 
  inputs:
    targetType: 'inline'
    script: |
      ls  '$(Build.SourcesDirectory)'
      mkdir  '$(Build.SourcesDirectory)/downloads3'

- task: S3Download@1
  name: DownloadFromS3
  inputs:  
    regionName: 'us-east-1'
    awsCredentials: 'azure_user_aws'
    bucketName: 'azureb1'
    globExpressions: '$(artifactName).zip'
    targetFolder: '$(Build.SourcesDirectory)/downloads3'
  
- task: Bash@3
  name: ListFile 
  inputs:
    targetType: 'inline'
    script: |
      ls  '$(Build.SourcesDirectory)/downloads3'
