variables:
 artifactName: 'artifactNameVersion'
 packageType: 'war'

trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'

steps:  
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |
      git config --global user.name "chavanjotiram24@gmail.com"
      git config --global user.password "Jotiram123@"
      git clone https://github.com/jotiramsc/rest-csv
      
      echo 'Hello world'
