variables:
 artifactName: 'artifactNameVersion'

trigger:
- master
  
pool:
  vmImage: 'ubuntu-latest'

steps:  
- task: Maven@3
  displayName: "Maven Build"
  name: Build
  inputs:
    mavenPomFile: 'pom.xml'
    mavenOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'    
    jdkArchitectureOption: 'x64'
    publishJUnitResults: false
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    goals: '-Dmaven.test.skip package'    

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: PythonScript@0
  name: setVariables
  displayName: "Set Variables"
  inputs:
    scriptSource: 'inline'
    script: |
      import xml.etree.ElementTree as ET
      tree = ET.parse('$(Build.SourcesDirectory)/pom.xml')
      root = tree.getroot()
      
      namesp = root.tag.replace("project","")  # get the namesapce from the root key
      
      version = root.find(namesp+"version")
      artifactId = root.find(namesp+"artifactId")
      name = artifactId.text+'-'+version.text     
      print(name)
      print '##vso[task.setvariable variable=artifactName]' + name
      


- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(Build.ArtifactStagingDirectory)/$(artifactName).jar'    
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/target/$(artifactName).zip'
    replaceExistingArchive: true

- task: Bash@3
  name: ListFile 
  displayName: "List Data"
  inputs:
    targetType: 'inline'
    script: |
      ls $(Build.ArtifactStagingDirectory)
     